canvas {
    display: block;
    margin: auto auto;
    transform: translateY(50px);
    /* image-rendering: inherit; */
    /* border-right: #a37724 15px groove !important;
    border-bottom: #a37724 15px groove !important;
    border-top: #a37724 15px ridge !important;
    border-left: #a37724 15px ridge !important; */
}

* {
    white-space: nowrap;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
