@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Architects+Daughter&family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Spicy+Rice&family=Yatra+One&display=swap");

.info {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
